
*,
::before,
::after {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.h1-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-style: dotted;*/
}

.box-tuAhorro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#i-g-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-ingreso-gasto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: initial;
    background-color: rgb(240, 240, 240);
    width: 12rem;
    height: 70px;
    padding: 2rem;
    border: 2px solid rgb(133, 130, 130);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.box-ingreso,
.box-gasto {
    margin: 1rem;
}

.number-ingreso,
.number-gasto {
    text-align: center;
}
.number-ingreso {
    color: green;
}
.number-gasto {
    color: red;
}


.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus {
    border-right: 5px solid #2ecc71;

}

.list li.minus {
    border-right: 5px solid #c0392b;
}



.form-control {
    display: grid;
}

/* (top, right, bottom, and left).*/
#input-text,
#input-amount {
    margin: 10px 0px 10px 0px;
}

.button-añadir {
    margin-top: 20px;
    background-color: rgb(198, 157, 236);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#minus {
    display: flex;
    align-items: center;

}

img {
    cursor: pointer;
}

.delete-btn {
    background-color: rgb(234, 132, 132);
    width: 25px;
    height: 25px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list li:hover .delete-btn {
    opacity: 1;

}